/* font fontnya */
@import url('https://fonts.googleapis.com/css2?family=Asap+Sharp:ital,wght@0,100..900;1,100..900&family=Betania+Patmos&family=Lilita+One&family=Playwrite+DE+LA+Guides&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');
html {
  scroll-behavior: smooth;
}
/* global css */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 40, 97);
}

/* navbar style */
nav {
  background-color: rgb(17, 73, 177);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 13px black;
}

/* css menu */
.menu a {
  text-decoration: none;
  margin: 0 2rem;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 8px;
  transition:
    background-color 0.4s ease,
    font-size 0.4s ease;
}

.menu a:hover {
  background-color: rgb(19, 6, 65);
}
/* hero style */
#hero {
  display: flex;
  margin: 60px;
  margin-top: 50px;
}

.kiri {
  width: fit-content;
  background-color: rgb(17, 73, 177);
  border-radius: 20px;
  padding: 20px;
  margin-right: 35px;
  box-shadow: 0 8px 13px black;

}

.kanan {
  width: fit-content;
  display: flex;
  justify-content: end;
  background-color: rgb(17, 73, 177);
  margin-left: 25px;
  padding: 40px;
  border-radius: 0 4rem;
  transition: all 0.3s;
   box-shadow: 0 8px 13px black;
}

.kanan:hover{
transform: scale(1.03) translateY(-8px)
}

.kanan img {
  width: 200px;
  border-radius: 0 2rem;
  transition: all 0.3s;
  
}

.button {
  border-radius: 8px;
  display:flex ;
}

.button a {
  text-decoration: none;
  border-radius: 30px;
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 4rem;
  background-color: rgb(10, 40, 97);
  transition: all 0.3s ;
  color: white;
  box-shadow: 0 6px 6px black;
}

.button a:hover {
  background-color: rgb(56, 126, 217);
  transform: scale(1.15);
}

/* skill section */

#skill {
  padding: 30px;
  margin: 60px;
  border-radius: 20px;
  background-color:rgb(17, 73, 177) ;
  box-shadow: 0 8px 10px black;
  transition: all 0.3s ;

}

#skill:hover {
  transform: scale(1.02) translateY(-6px);
}

.item img {
  width: 70px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 14px black;
  border-radius: 9999px;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 10px 20px;
  margin: 20px;
  text-transform: uppercase;
  background-color: rgb(10, 40, 97);
  
}

#skill h2 {
  text-align: center;
  font-size: 35px;
}

#skill p {
  text-align: center;

}

#testimoni {
  padding: 30px;
  background-color: rgb(17, 73, 177);
  margin: 60px;
  border-radius: 20px;
  box-shadow: 0 8px 10px black;

}

#testimoni h2 {
  text-align: center;
  font-size: 35px;
}

.profile-image img {
  width:120px ;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 9999px;
  box-shadow:0 3px 20px rgb(0, 0, 0);
}

.job {
  color: darkgrey;
}

.testi {
  font-style: italic;
}

.testimoni-card {
  text-align: center;
  background-color:rgb(10, 40, 97) ;
  padding: 2rem;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(0, 0, 0) ;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 15px;
}

.testimoni-card:hover {
  transform: translateY(-15px);
}

.testimoni-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

.testimoni-card .bintang {
  display: flex;
  justify-content: center
}

/* style di tampilan device lain */
@media screen and (max-width: 973px) {
  nav {
    flex-direction: column;
    padding: 1.5rem;
  }

  .menu a {
    margin: 0;
    font-size: small;
  }

  .logo h1 {
    margin-top: 0;
  }

  #hero {
    flex-direction: column-reverse;
    padding: 2rem;
  }

  .kiri, .kanan {
    width: 100%;
    justify-content: center;
  }
  .kanan {
  justify-content:center ;

  }

  .kiri {
    text-align: center;
  }

  .button {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10rem;
  }

  .button a {
    margin-right: 0;
  }

  #skill {
    padding: 2rem;
  }
  
  .card {
    flex-direction: column;
  }

  .item {
    width: 100%;
    box-sizing: border-box;
  }

  .item img {
    width: 50px;
  }
}
/* kontak/footer */
#kontak {


}

.judul-kontak {
  background-color: rgb(17, 73, 177);
  width:fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 400px;
  padding-right: 400px;
  border-radius: 999px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.728);
}

.bungkus-konten {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontak a {
  color:white;
  text-decoration: none;
  border-radius: 9999px;
  width: 7rem;
  transition: all 0.3s;
  width: fit-content;
  padding: 10px;
  background-color: rgb(10, 40, 97);
  margin: 10px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.728);
}

.kontak a:hover {
  transform: scale(1.05);
  background-color: rgb(71, 135, 254);
  box-shadow: 0 0px 13px rgb(71, 135, 254);
}

.box-kontak {
  background-color: rgb(10, 40, 97);
  width: 90%;
  margin: 60px;
  margin-top: 1rem;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgb(71, 135, 254) ;
  
}

.box-kontak h2 {
text-align: center;
}

.box-kontak a {
  margin-left: auto;
  margin-right: auto;
}

.box-kontak p {
  color: rgb(189, 188, 188);
}

.box-kontak input, textarea{
  background-color: rgba(3, 3, 3, 0.361);
  border: 2px solid rgba(56, 126, 217, 0.4);
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  color: white;


}

input[type="nama"]:focus, 
input[type="email"]:focus,
select:focus {
    border: 2px solid rgb(56, 126, 217);
    outline: none;
    box-shadow: 0 0px 15px rgba(56, 126, 217, 0.763) ;
    transform: scale(1.02);
}

textarea:focus {
    border: 2px solid rgb(56, 126, 217);
    outline: none;
    box-shadow: 0 0px 15px rgba(56, 126, 217, 0.763) ;
    transform: scale(1.02);
}

textarea {
  resize: none;
  font-family: sans-serif;
}

button {
  background-color: rgb(17, 73, 177);
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  border-radius: 141241px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.728);
  transition: all 0.3s;
  font-family: "Roboto Slab", sans-serif;
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(71, 135, 254);
  box-shadow: 0 0px 13px rgb(71, 135, 254);
}







